{% extends 'feedback/base.html' %}
{% load static %}



{% block title %}
Страница отзывов
{% endblock %}

{% block content %}
<h2>Оставьте отзыв</h2>
<form method="post">
    {% csrf_token %}
    {%for field in form%}
    <div class="form-style">
        {{field.label_tag}}
        {{field.errors}}
        {{field}}
    </div>
    {%endfor%}
    <button type="submit">send</button>
</form>
{% endblock %}


<!--    <div>{{form.name.label_tag}}-->
<!--        {{form.name}}-->
<!--        {{form.name.errors}}-->
<!--    </div>-->
<!--    <div>{{form.surname.label_tag}}-->
<!--        {{form.surname}}-->
<!--        {{form.surname.errors}}-->
<!--    </div>-->
<!--    <div>{{form.rating.label_tag}}-->
<!--        {{form.rating}}-->
<!--        {{form.rating.errors}}-->
<!--    </div>-->
<!--    <div>{{form.feedback.label_tag}}-->
<!--        {{form.feedback}}-->
<!--        {{form.feedback.errors}}-->
<!--    </div>-->


